@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(#fff 40%, #ccc 60%);
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: auto;
}

body .btn-delete, body .board .column-container .column .column-btn-change, body .board .column-container .column .column-card-list .card .card-btn-delete, body .board .column-container .column .column-card-list .card .card-btn-change, body .board .column-container .column .column-btn-delete, body .board .column-container .column .add-card {
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 10%;
  background-color: #008075;
  color: #fff;
  font-size: 12px;
  font-family: "Fira Mono", monospace;
  font-weight: 800;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s;
}

body .btn-delete:hover, body .board .column-container .column .column-btn-change:hover, body .board .column-container .column .column-card-list .card .card-btn-delete:hover, body .board .column-container .column .column-card-list .card .card-btn-change:hover, body .board .column-container .column .column-btn-delete:hover, body .board .column-container .column .add-card:hover {
  background-color: #a6d9d6;
  color: #001a18;
}

body .board {
  height: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
}

body .board h1 {
  width: 600px;
  background-color: #990000;
  box-shadow: 10px 10px 1px #003B37;
  font-size: 50px;
  padding: 25px;
  font-style: italic;
  font-weight: 800;
  color: #FFFDC7;
  text-shadow: 2px 4px 4px #003B37;
  text-transform: capitalize;
  text-align: center;
  text-transform: capitalize;
}

body .board .create-column {
  height: 60px;
  margin: 25px auto 25px auto;
  border-radius: 30px;
  border: none;
  text-align: center;
  background-color: #990000;
  color: #FFFDC7;
  font-size: 18px;
  font-family: "Fira Mono", monospace;
  font-weight: 800;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
}

body .board .create-column:hover {
  background-color: #999999;
  color: #990000;
}

body .board .column-container {
  margin: 100px 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: auto;
  width: 99vw;
}

body .board .column-container .column {
  position: relative;
  height: auto;
  width: 30vw;
  background-color: #ffaa80;
  box-shadow: 10px 10px 1px #001a18;
  margin: 10px;
}

body .board .column-container .column .column-btn-change {
  margin: 0 auto;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  margin: 0 10px 0 25%;
  text-transform: none;
}

body .board .column-container .column .column-title {
  margin-top: 0;
  width: 100%;
  height: auto;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #001a18;
  text-shadow: 2px 2px 2px #999999;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}

body .board .column-container .column .column-card-list {
  list-style-type: none;
  display: inline-block;
  margin-right: 100px;
  max-height: auto;
  min-width: 25vw;
}

body .board .column-container .column .column-card-list .card {
  margin-right: 50px;
  height: auto;
  width: 25vw;
  background: linear-gradient(to bottom left, #fff, #ccc);
  box-shadow: 10px 10px 1px #003B37;
  margin-bottom: 15px;
  position: relative;
}

body .board .column-container .column .column-card-list .card .card-description {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #001a18;
  text-shadow: 2px 1px #FFFDCC;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

body .board .column-container .column .column-card-list .card .card-btn-delete {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body .board .column-container .column .column-card-list .card .card-btn-change {
  width: 120px;
  height: 40px;
  margin-left: 33%;
  margin-bottom: 5px;
  text-transform: none;
  border-radius: 20px;
}

body .board .column-container .column .column-btn-delete {
  margin: 10px;
}

body .board .column-container .column .add-card {
  text-transform: Uppercase;
  font-size: 12px;
  padding: 8px;
  transition: 0.5s;
}

body .board .column-container .column .add-card:hover {
  background-color: #a6d9d6;
  color: #003B37;
  text-shadow: none;
}

body .board .card-placeholder {
  width: 28vw;
  min-height: 10vh;
  border: 2px dotted #026A62;
  background-color: #B5E1DE;
}

@keyframes card-animation {
  0% {
    background-color: #D7BCEC;
    color: #5F2900;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    background-color: #ac74d8;
    color: #cc5800;
    transform: matrix(1.25, 0, 0.25, 1.25, 0, 0);
  }
  50% {
    background-color: #ac74d8;
    color: #ffb780;
    transform: matrix(1.5, 0, 0.5, 1.5, 0, 0);
  }
  75% {
    background-color: #ac74d8;
    color: #cc5800;
    transform: matrix(1.25, 0, 0.25, 1.25, 0, 0);
  }
  100% {
    background-color: #D7BCEC;
    color: #5F2900;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

body .board .ui-sortable-helper {
  animation: card-animation 1s ease-in-out 1s infinite normal;
  transition: background-color 1s linear, color 1s linear, transform 1s linear;
}
/*# sourceMappingURL=style.css.map */