@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$Mont_font: "Montserrat", sans-serif;
$Fira_font: "Fira Mono", monospace;
$dark-violet: #250240;
$ligth-sun: #FFFDC7;

* {
  box-sizing: border-box;
}
body {
    background-color: #B5E1DE;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-delete {
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 10%;
      background-color: $dark-violet;
      color: #B5E1DE;
      font-size: 14px;
      font-family: $Fira_font;
      font-weight: 800;
      padding: 10px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.7s;
      &:hover{
        background-color: #bc6bfa;
        color: $dark-violet;
      }
    }

  .board {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      h1 {
        width: 300px;
        background-color: #48A7A0;
        border: 5px solid #003B37;
        box-shadow: 2px 2px 2px $ligth-sun;
        font-size: 50px;
        padding: 25px;
        font-style: italic;
        font-weight: 800;
        color: #003B37;
        text-shadow: 2px 2px 2px $ligth-sun;
        text-transform: capitalize;
        text-align: center;
        text-transform: capitalize;
      }

    .create-column {
      height: 100px;
      margin: 50px auto 50px auto;
      border-radius: 5%;
      border: none;
      text-align: center;
      background-color: #003B37;
      color: $ligth-sun;
      font-size: 18px;
      font-family: $Fira_font;
      font-weight: 800;
      padding: 15px;
      cursor: pointer;
      transition: 0.5s;
          &:hover {
            background-color: $ligth-sun;
            color: #003B37;
          }
    }

    .column-container {
        margin: 200px 50px 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 99vw;

          .column {
            position: relative;
            height: 85vh;
            width: 33vw;
            background-color: $ligth-sun;
            border: 5px solid $dark-violet;

            .column-btn-change {
              margin: 0 auto;
              @extend .btn-delete;
              width: 120px;
              height:40px;
              margin: 0 auto;
              text-transform: none;
            }
              .column-title {
                margin-top: 0;
                width: 100%;
                height: auto;
                background-color: #ac74d8;
                border-bottom: 2px solid $dark-violet;
                font-size: 25px;
                font-family: $Fira_font;
                text-transform: uppercase;
                color: $dark-violet;
                text-shadow: 2px 2px 2px $ligth-sun;
                font-weight: 900;
                text-align: center;
                padding: 15px;
              }

              .column-card-list {
                list-style-type: none;
                display: inline-block;
                margin-right: 100px;
                min-height: 64vh;
                min-width: 28vw;

                  .card {
                    margin-right: 50px;
                    min-height: 10vh;
                    width: 28vw;
                    border-radius: 5%;
                    background-color: #D7BCEC;
                    border: 2px solid #ac74d8;

                    .card-description {
                      font-size: 16px;
                      font-family: $Mont_font;
                      font-weight: 600;
                      color: $dark-violet;
                      text-shadow: 2px 1px #FFFDCC;
                      text-align: center;
                      padding: 10px;
                      margin-top: 0;
                    }

                    .card-btn-delete {
                      @extend .btn-delete;
                      margin: 0;
                    }

                    .card-btn-change {
                      @extend .btn-delete;
                      width: 120px;
                      height:40px;
                      margin: 0;
                      text-transform: none;
                    }

                  }
              }

              .column-btn-delete {
                @extend .btn-delete;
                margin: 0 10px;
              }

              .add-card {
                @extend .create-column;
                height: 60px;
                margin: 0 auto;
                background-color: #48A7A0;
                color: $ligth-sun;
                text-transform: none;
                transition: 0.5s;
                text-shadow: 2px 2px 2px $dark-violet;
                   &:hover{
                     background-color: #a6d9d6;
                     color: #003B37;
                     text-shadow: none;
                   }
              }
            }
        }

      .card-placeholder {
        width: 28vw;
        min-height: 10vh;
        border: 2px dotted #026A62;
        background-color: #B5E1DE;
        }

        @keyframes card-animation {
          0% {
              background-color: #D7BCEC;
              color : #5F2900;
              transform: matrix(1, 0, 0, 1, 0, 0 );
          }
          25% {
              background-color: #ac74d8;
              color : #cc5800;
              transform: matrix(1.25, 0, 0.25, 1.25, 0, 0 );
          }
          50% {
              background-color: #ac74d8;
              color: #ffb780;
              transform: matrix(1.5, 0, 0.5, 1.5, 0, 0 );
          }
          75% {
              background-color: #ac74d8;
              color : #cc5800;
              transform: matrix(1.25, 0, 0.25, 1.25, 0, 0 );
          }
          100% {
              background-color: #D7BCEC;
              color: #5F2900;
              transform: matrix(1, 0, 0, 1, 0, 0 );
          }
        }

        .ui-sortable-helper {
          animation: card-animation 1s ease-in-out 1s infinite normal;
          transition: background-color 1s linear, color 1s linear, transform 1s linear;
        }
    }
}
